<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loading...</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/de9641045c.js" crossorigin="anonymous"></script>
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body class="bg-dark-porp h-screen m-0 p-0 box-border">
    <div class="font-newFont text-text-porp text-lg flex flex-row relative">
        <div class="flex flex-row justify-between w-full">
            <button disabled onclick="menuSlide()" id="menu-button" class="disabled:hidden text-orang text-4xl xl:p-6 md:p-4 sm:p-3 pb-0 ease-in duration-300 z-20 slideOut"><i class="fas fa-bars"></i></button>
            <h1 class="place-self-center text-orang text-3xl font-bold md-m:mt-10 md-m:mx-16">chataron</h1>
            <a id="logout-button" href="/logout" class="text-orang text-4xl xl:p-6 md:p-4 sm:p-3 pb-0 ease-in duration-300 z-10"><i class="fas fa-sign-out-alt ml-3"></i></a
        </div>
        <div id="menu-list" class="fixed w-1/6 h-screen py-52 px-3 xl:-translate-x-full ease-in duration-300 xl:z-10 xl:w-full xl:bg-dark-porp">
            <ul class="rounded-lg" onclick="menuSlide()">
                <li id="announcements" class="px-5 py-3 m-1 hover:bg-light-porp rounded-lg"><a id="announcementslink" href="/announcements" class="block p-5 -m-5"><i class="fas fa-hashtag"></i> announcements</a></li>
                <li id="general" class="px-5 py-3 m-1 hover:bg-light-porp rounded-lg"><a id="generallink" href="/general" class="block p-5 -m-5"><i class="fas fa-hashtag"></i> general</a></li>
                <li id="general-2" class="px-5 py-3 m-1 hover:bg-light-porp rounded-lg"><a id="general-2link" href="/general-2" class="block p-5 -m-5"><i class="fas fa-hashtag"></i> general-2</a></li>
                <li id="off-topic" class="px-5 py-3 m-1 hover:bg-light-porp rounded-lg"><a id="off-topiclink" href="/off-topic" class="block p-5 -m-5"><i class="fas fa-hashtag"></i> off-topic</a></li>
                <li id="suggestions" class="px-5 py-3 m-1 hover:bg-light-porp rounded-lg"><a id="suggestionslink" href="/suggestions" class="block p-5 -m-5"><i class="fas fa-hashtag"></i> suggestions</a></li>
                <li id="support" class="px-5 py-3 m-1 hover:bg-light-porp rounded-lg"><a id="supportlink" href="/support" class="block p-5 -m-5"><i class="fas fa-hashtag"></i> support</a></li>
            </ul>
        </div>
        <div class="xl:z-0 xl:max-h-82 flex flex-col ml-76 w-3/5 py-6 px-8 pr-2 xl:py-2 xl:px-2 xl:pr-0 sm:pt-0 bg-light-porp items-end fixed inset-x-0 bottom-0 min-h-11/12 mb-10 rounded-lg justify-end xl:ml-0 xl:w-full xl:mb-0 xl:rounded-none">
            <div id="app" class="max-h-full w-full pr-3 items-end justify-end">
                    
            </div>
        </div>
        <div id="prof-div" class="fixed w-1/5 h-screen py-52 px-8 right-0 bg-transparent text-white text-center items-center xl:translate-x-full">
            <form id="pfp-form"> <!-- method="POST" action="/upload" enctype="multipart/form-data" -->
                <label for="pfp-input" class="text-white text-2xl hover:cursor-pointer flex items-center justify-center mb-6 -mt-6">
                    <img id="profile-pic" class="flex fixed place-self-center z-0 rounded-full" width="160px" height="160px" src="/images/<%= user_name %>.png" onerror="this.src='/images/profile.png'">
                    <div class="flex shrink-0 ease-in rounded-full opacity-0 hover:opacity-100 hover:bg-opacity-40 bg-gray-800 h-40 w-40 translate-y-22 items-center justify-center z-10">
                        <i class="far fa-edit"></i>
                    </div>
                </label>
                <input class="hidden" id="pfp-input" type="file" name="pfp">
            </form>
            <!-- <i class="far fa-user-circle text-9xl mb-8"></i> -->
            <h3 id="user_name" class="text-3xl mb-4"><%= user_name %></h3>
            <p class="text-lg text-text-porp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam alias quasi, omnis minima, ipsa, libero voluptatum quidem esse optio cupiditate neque consectetur facere accusantium repellat veniam enim natus rem repellendus!</p>
            <a href="/logout" class="block px-5 py-3 mt-40 hover:bg-light-porp rounded-lg text-center text-xl">Logout<i class="fas fa-sign-out-alt ml-3"></i></a>
        </div>
    </div>

    <script src="/js/messages.js" type="text/babel"></script>
</body>
</html>